/* Place CSS styles here */

a:link, a:visited { 
    text-align: center; 
    color: #ffa5d4;   
}

a:hover{
    color: #ee097f
}

a:active {
    color: #3df0fd;
  }
body{
    background-color: rgb(208, 143, 243);
}
@keyframes rotate
100% {
    transform: rotate(360deg);
}
.Invader-Zim-Characters img{
    width: 40px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Zim{

}

.Gir{

}

.Gaz{

}

.Dibb{

}

@keyframes shrek {
    from {background-color: aqua;}
    to{background-color: brown;}
}

@keyframes rotate
100% {
    transform: rotate(360deg);
}