/* Place CSS styles here */
div{
    width: 100px;
    background-color: black;
    animation-name: shrek;
    animation-duration: 4s;
    animation-direction: reverse;
    
}
a:link, a:visited { 
    text-align: center; 
    color: #ffa5d4;   
}

a:hover{
    color: #ee097f
}

a:active {
    color: #3df0fd;
  }
body{
    background-color: rgb(208, 143, 243);
}

@keyframes shrek {
    from {background-color: aqua;}
    to{background-color: brown;}
}